/*--- Main ---*/
*{
	padding: 0;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	overflow: auto;
}

body{
	background-image: 	      linear-gradient(to right, #0F2027, #203A43, #2C5364);
	background-image: 	 -moz-linear-gradient(to right, #0F2027, #203A43, #2C5364);
    background-image: -webkit-linear-gradient(to right, #0F2027, #203A43, #2C5364);
    background-image:     -ms-linear-gradient(to right, #0F2027, #203A43, #2C5364);
}

header{
	display: flex;
	justify-content: center;
	margin: 1em 0;
}

select{
}

h1{
	font-size: 5em;
	color: white;
	text-shadow: rgba(0,0,0,0.1) 0 0 1px;
}

p{
	font-size: 2em;
}

/*--- App ---*/
.app{
	width: 800px;
	margin: auto;
}

.gunModal{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	position: fixed;
	top: 0;
	left: 0;

	background-color: rgba(0,0,0,0.5);
	border-radius: 15px;
}

.gunModal i{
	font-size: 2em;
	color: black;
	position: absolute;
	right: 1em;
	top: 0.5em;
}

.gunModal p{
	padding: 0.1em 0.25em;
	margin: 0.5em;
	color: black;
	border: 0.1em solid #000000;
	border-radius: 30px;
}

.category{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.category p{
	font-size: 1.5em;
	margin: 0.5em;
	padding: 0.25em 0.5em;
	border: 0.1em solid #ffffff;
	border-radius: 0.12em;
	-webkit-transition: all 0.2s;
	-moz-transition: 	all 0.2s;
	-ms-transition: 	all 0.2s;
	-o-transition: 		all 0.2s;
	transition: 		all 0.2s;
}

.category p:hover{
	color: black;
	background-color: white;
	cursor: pointer;
}
